/*
This file contains specific styles for IE lt 9
*/


/* header */

.archy-site-header {
	behavior:url(../js/PIE.htc);
	margin-bottom: 30px;
}

#navigation {
	zoom: 1;
}

.archy-main-navigation .sub-menu,
.archy-main-navigation .children {
	behavior:url(../js/PIE.htc);
}

.archy-main-navigation ul li:hover .archy-slider img {
	display: none;
	z-index: 0;
}

/* content for IE 7 */
.archy-clearfix {
	zoom: expression( this.runtimeStyle.zoom="1", 
		this.appendChild( document.createElement("i") ).className="ie-after" );
}

.archy-clearfix i.ie-after {
	padding-bottom: 0px;
	zoom: expression( this.runtimeStyle['zoom'] = '0',
		this.innerHTML = '');
}

.wrapper {
	padding-bottom: 30px;
}

/* archy-slider */

.archy-slider-background-description {
	filter: alpha(Opacity=60); /*opacity for IE*/
}

.left-archy-slider-handler:hover,
.right-archy-slider-handler:hover {
	filter: alpha(Opacity=50); /*opacity for IE*/
}

/* sidebar */

.screen-reader-text,
.widget_search form input[type="text"] {
	behavior:url(../js/PIE.htc);
}

.widget_search form input[type="text"] {
	position: absolute;
	top: 0;
}

.widget_search form input[type="submit"] {
	behavior:url(../js/PIE.htc);
}

.widget .archy-select {
	behavior:url(../js/PIE.htc);
}

.widget form,
.widget form div {
	height: auto;
}

.widget form div {
	position: relative;
	zoom: 1;
}

.widget .screen-reader-text form div {
	position: relative;
	top: 0;
}

/* content */

.post,
.page,
#archy-content {
	behavior:url(../js/PIE.htc);
}

.entry-meta .tag-list,
.entry-meta .tag-list + .edit-link,
.entry-meta .comments-link + a[href="#wrapper"],
.entry-meta .top-link {
	zoom: 1; /* inline-block for IE 6-7 */
	*display: inline; /* inline-block for IE 6-7 */
}

input[type="text"],
input[type="password"],
textarea {
	behavior:url(../js/PIE.htc);
}

select {
	behavior:url(../js/PIE.htc);
}

div.archy-select {
	behavior:url(../js/PIE.htc);
	zoom: 1; /* inline-block for IE 6-7 */
	*display: inline; /* inline-block for IE 6-7 */
}

.archy-select .archy-select-block {
	zoom: 1; /* inline-block for IE 6-7 */
	*display: inline; /* inline-block for IE 6-7 */
}

.archy-radio-custom,
.archy-checkbox-custom {
	filter: alpha(opacity=0);
}

.archy-fake-radio.disabled,
.archy-archy-fake-checkbox.disabled,
.archy-fake-radio:hover,
.archy-archy-fake-checkbox:hover {
	filter: alpha(Opacity=50); /*opacity for IE*/
}

.archy-fake-radio.archy-selected:hover,
.archy-archy-fake-checkbox.archy-selected:hover {
	filter: alpha(Opacity=100); /*opacity for IE*/
}

.archy-radio-item-container,
.archy-checkbox-item-container {
	zoom: 1; /* inline-block for IE 6-7 */
	*display: inline; /* inline-block for IE 6-7 */
}

.archy-upload-file {
	/*behavior:url(../js/PIE.htc);*/ /* .archy-upload-file-input works uncorrect, off for pretty */
	zoom: 1; /* inline-block for IE 6-7 */
	*display: inline; /* inline-block for IE 6-7 */
}

.archy-upload-file-input {
	/*behavior:url(../js/PIE.htc);*/ /* works uncorrect */
	zoom: 1; /* inline-block for IE 6-7 */
	*display: inline; /* inline-block for IE 6-7 */
}

.archy-upload-file-status {
	zoom: 1; /* inline-block for IE 6-7 */
	*display: inline; /* inline-block for IE 6-7 */
}

input[type="reset"],
input[type="submit"] {
	behavior:url(../js/PIE.htc);
}

/* content for IE 7 */
.entry-content blockquote,
.comment-body blockquote {
	zoom: expression( this.runtimeStyle.zoom="1", 
		this.insertBefore( document.createElement("i"), this.firstChild ).className="ie-before" );
}

.entry-content blockquote .ie-before,
.comment-body blockquote .ie-before {
	background: url( '../images/quotes.png' ) no-repeat 0 5px;
	content: '"';
	color: #444;
	float: left;
	margin: 0 12px 0 -36px;
	width: 22px;
	zoom: expression( this.runtimeStyle['zoom'] = '1', 
		this.innerHTML = '"');
}

/* quotes for IE 7 */
.entry-content blockquote q,
.comment-body blockquote q {
	zoom: expression( this.runtimeStyle.zoom="1", 
		this.insertBefore( document.createElement("i"), this.firstChild ).className="ie-before",
		this.appendChild( document.createElement("i") ).className="ie-after" );
}

.entry-content blockquote q i.ie-before,
.comment-body blockquote q i.ie-before {
	background: none;
	color: #aaa;
	width: 6px;
}

.entry-content blockquote q i.ie-before,
.comment-body blockquote q i.ie-before,
.entry-content blockquote q i.ie-after,
.comment-body blockquote q i.ie-after {
	clear: none;
	display: inline;
	float: none;
	padding: 0;
	margin: 0;
	zoom: expression( this.runtimeStyle['zoom'] = '1', 
		this.innerHTML = '"');
}

.entry-meta hr {
	margin: 0!important;
}

#archy-content .archy-nav-single .archy-nav-previous,
#archy-content .archy-nav-single .archy-nav-next {
	zoom: 1; /* inline-block for IE 6-7 */
	*display: inline; /* inline-block for IE 6-7 */
}

article.paging-nav .nav-links .archy-nav-previous + .archy-nav-next,
article.paging-nav .nav-links .archy-nav-previous {
	zoom: 1; /* inline-block for IE 6-7 */
	*display: inline; /* inline-block for IE 6-7 */
}

.archy-main-site-container footer {
	/*behavior:url(../js/PIE.htc);*/ /* coomented, because PIE works uncorrect */
}

.read_more {
	margin-right: 0 !important;
}

.portfolio_short_content {
	width: 100% !important;
}

.portfolio_content .portfolio_thumb img {
	margin-bottom: 10px;
}

article.paging-nav .nav-links .archy-nav-previous,
#archy-content .archy-nav-single .archy-nav-previous,
.archy-upload-file-input {
	float: left;
}

#archy-content .gallery_box_single .gallery .gllr_image_block,
.entry-content .gallery_box_single .gallery .gllr_image_block {
	margin: 5px 6px 0 0 !important;
}

label,
.cptch_block {
	vertical-align: middle !important;
}

#fcbk_share {
	margin-top: 10px;
}

/* shares */

.fcbk_button,
.fcbk_button a,
.fcbk_like,
#fcbk_share,
.gglplsn_share,
.twttr_button {
	zoom: 1; /* inline-block for IE 6-7 */
	*display: inline; /* inline-block for IE 6-7 */
}
